/*  ========================================================================
    # Globals - Typography
    ========================================================================  */

/*  Headings
    ========================================================================  */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  font-family: $font-family__serif;
  font-weight: 700;
  line-height: 1.4;
  word-wrap: break-word;
}

h1,
.h1 {
  @include fluid-type($font-size__h1--min, $font-size__h1--max);
  margin: 0 0 calc-rem(40px);
}

h2,
.h2 {
  @include fluid-type($font-size__h2--min, $font-size__h2--max);
}

/*  Paragraphs
    ========================================================================  */

p {
  margin: 0 0 calc-rem(20px);
  line-height: 1.75;
  hyphens: auto;

  &:last-child {
    margin: 0;
  }

  a {
    @include transition__fade-out(0.25s, 0s);
    color: $color__accent;
    border-bottom: calc-rem(1px) solid transparent;

    &:hover {
      @include transition__fade-in(0.25s, 0s);
      border-bottom: calc-rem(1px) solid $color__accent;
    }
  }
}

/*  Links
    ========================================================================  */

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
