/*  ========================================================================
    # Components - Footer
    ========================================================================  */

.c-footer {
  width: 100%;
  margin: calc-rem(60px) 0 0;

  a {
    @include transition__fade-out(0.25s, 0s);
    position: relative;
    margin: 0 calc-rem(20px);
    font-size: $font-size__text--small;
    letter-spacing: calc-rem(1px);
    color: $color__grey;

    &::after {
      @include transition__fade-out(0.25s, 0s);
      content: '';
      position: absolute;
      bottom: calc-rem(-12px);
      left: 0;
      right: 0;
      height: calc-rem(2px);
      background-color: $color__accent;
      opacity: 0;
    }

    &:hover {
      @include transition__fade-in(0.25s, 0s);
      color: $color__white;

      &::after {
        @include transition__fade-in(0.25s, 0s);
        bottom: calc-rem(-8px);
        opacity: 1;
      }
    }
  }
}
