/*  ========================================================================
    # Settings - Colors
    ========================================================================  */

$color__white: #f0f0f0;
$color__grey: #a8a8af;
$color__black: #101016;
$color__charade: #282834;
$color__midnight: #1a1a22;
$color__accent: #29d398;
