/*  ========================================================================
    # Tools - Mixin - Transitions
    ========================================================================  */

@mixin transition__fade-in($duration, $delay) {
  transition: all $duration $ease__out--quad $delay;
}
@mixin transition__fade-out($duration, $delay) {
  transition: all $duration $ease__in--quad $delay;
}
@mixin transition__bounce-in($duration, $delay) {
  transition: all $duration $ease__out--back $delay;
}
@mixin transition__bounce-out($duration, $delay) {
  transition: all $duration $ease__in--back $delay;
}
