/*  ========================================================================
    # Settings - Colors
    ========================================================================  */

$color__white: #f8f8f8;
$color__grey: #9e9e9e;
$color__black: #101016;
$color__charade: #282834;
$color__midnight: #1a1a22;
$color__accent: #29d398;
